html, body{
    background-color: $clr-gray;
}


.header{
    &__wrapper{
        padding: 1.5rem 0;
        border-bottom: 2px solid $clr-white;

        .logo{
            span{
                color: $clr-primary;
            }

            @include mediaQuery(){            
               font-size: 37px;    
            }
        }

        nav ul{
            display: flex;
            gap: 3rem;

            @include mediaQuery(){            
                display: none;        
            }
        }

        .active{
            background-color: $clr-primary;
        }    
    }
}

.home{
    &__wrapper{
        padding: 8rem 0;


        .line-welcome{
            width: 111px;
            border: 2px solid $clr-primary;
            border-radius: 15px;
        }

        .welcome__cont{
            position: relative;

            span{
                color: $clr-primary;
            }

            h1{
                @include mediaQuery(){            
                    font-size: 48px;     
                }
            }

            h2{
                margin: 1.5rem 0;
                
                @include mediaQuery(){            
                    font-size: 20px;  
                    margin-top: .5rem;  
                    margin-bottom: 0; 
                }
            }

            p{
                margin: 1rem 0;

                @include mediaQuery(){            
                    margin: 0;      
                }
            }

            a{
                margin-top: 2rem;
            }

            .element1{
                position: absolute;
                top: -176px;
                left: 256px;

                @include mediaQuery(){            
                    width: 90px;    
                    top: -68px;
                left: 166px;  
                }
            }
        }  

        .img-prof{
            @include mediaQuery(){            
                    display: none;        
            }
        }
    }
}

.footer{
    position: relative;

    .element2{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 550px;

            @include mediaQuery(){            
                    display: none;    
            }
        
    }

    &__wrapper{
        justify-content: right;
        align-items: center;
        padding: 2rem 0;
        .social-media{
            display: flex;
            gap: 3rem;

            i{
                font-size: 36px;
                transition: all .3s ease;
            }

            i:hover{
                color: $clr-primary;
                transition: all .3s ease;
            }
        }    
    }
}


@media (min-width:768px){
    .container{
        padding: 0 2rem;
    }

    nav{
        display: none;
    }

    .img-prof,.element2{
        display:none;
    }


    .home{
        &__wrapper{
            height: 80vh;
            padding: 0;
        }
    }
}

@media (min-width: 992px){
    .img-prof{
        display: block;
        width: 45%;
    }

    nav{
        display: block;
    }
}



@media (min-width:1200px){
    footer{
        .element2{
            display: block;
           
        }
    }
}