html, body{
    background-color: $clr-gray;
}

.test{
    height: 100vh;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-gray; /* Background color for the preloader */
    z-index: 9999; /* Adjust z-index as needed */
  }
  
  #preloader img {
    width: 150px; /* Adjust the size of the preloader GIF */
    height: auto;
  }


.header{
    &__wrapper{
        padding: 1.5rem 0;
        border-bottom: 2px solid $clr-white;

        .logo{
            span{
                color: $clr-primary;
            }

            @include mediaQuery(){            
               font-size: 37px;    
            }
        }

        .mobile-nav{
            display: none;
        }

        nav ul{
            display: flex;
            gap: 3rem;

            @include mediaQuery(){            
                display: none;        
            }
        }

        .active{
            background-color: $clr-primary;
        }    
    }
}

.home{
    &__wrapper{
        padding: 7rem 0;


        .line-welcome{
            width: 111px;
            border: 2px solid $clr-primary;
            border-radius: 15px;
        }

        .welcome__cont{
            position: relative;

            span{
                color: $clr-primary;
            }

            h1{
                @include mediaQuery(){            
                    font-size: 48px;     
                }
            }

            h2{
                margin: 1.5rem 0;
                
                @include mediaQuery(){            
                    font-size: 20px;  
                    margin-top: .5rem;  
                    margin-bottom: 0; 
                }
            }

            p{
                margin: 1rem 0;

                @include mediaQuery(){            
                    margin: 0;      
                }
            }

            a{
                margin-top: 2rem;
            }

            .element1{
                position: absolute;
                top: -176px;
                left: 256px;

                @include mediaQuery(){            
                    width: 90px;    
                    top: -68px;
                left: 166px;  
                }
            }
        }  

        .img-prof{
            @include mediaQuery(){            
                    display: none;        
            }
        }
    }
}

.footer{
    position: relative;

    .element2{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 550px;

            @include mediaQuery(){            
                    display: none;    
            }
        
    }

    &__wrapper{
        justify-content: right;
        align-items: center;
        padding: 2rem 0;
        .social-media{
            display: flex;
            gap: 3rem;

            i{
                font-size: 36px;
                transition: all .3s ease;
            }

            i:hover{
                color: $clr-primary;
                transition: all .3s ease;
            }
        }    
    }
}


@media (max-width:768px){
    .container{
        padding: 0 2rem;
    }

   

    .img-prof,.element2{
        display:none;
    }


    .home{
        &__wrapper{
            height: 80vh;
            padding: 0;
        }
    }

    .mobile-nav {
        display: inline-block;
        position: relative;
        top: 2px;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
}

@media (max-width: 992px){
    .containers{
        display: inline-block;
    }

    .img-prof{
        display: block;
        width: 45%;
    }

    nav{
        display: block;
    }
}



@media (min-width:1200px){
    footer{
        .element2{
            display: block;
           
        }
    }
}

